<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>563740512170-13uvnafq7v5g2ajkntor07snke1mpfk0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563740512170-13uvnafq7v5g2ajkntor07snke1mpfk0</string>
	<key>API_KEY</key>
	<string>AIzaSyC6c4XEpD1v8e5d2NkLQEUlsvMgxcmubL0</string>
	<key>GCM_SENDER_ID</key>
	<string>563740512170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trackbar.analyticsDummyApp</string>
	<key>PROJECT_ID</key>
	<string>dummy-analytics-203aa</string>
	<key>STORAGE_BUCKET</key>
	<string>dummy-analytics-203aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563740512170:ios:16f9205629625f0ce165d3</string>
</dict>
</plist>